<%= content_tag_for :li, task do %>
  <%= task.title %>
  <div>
    <% if task.closed? -%>
      <%= link_to 'reopen', reopen_user_task_path(user_id: task.user_id, id: task.id), method: :put, class: 'btn btn-warning btn-mini' %>
    <% else -%>
      <%= link_to 'close', close_user_task_path(user_id: task.user_id, id: task.id), method: :put, class: 'btn btn-success btn-mini' %>
    <% end -%>
    <%= link_to 'edit', edit_user_task_path(user_id: task.user_id, id: task.id), class: 'btn btn-mini' %>
    <%= link_to 'delete', user_task_path(user_id: task.user_id, id: task.id), method: :delete, class: 'btn btn-danger btn-mini' %>
  </div>
<% end -%>
