<h1>Edit Task</h1>
<%= form_for [@task.user, @task] do |f| %>
  <% if @task.errors.any? -%>
    <div class="alert alert-error">
      <h2><%= pluralize(@task.errors.size, 'error') %></h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| -%>
          <li><%= msg %></li>
        <% end -%>
      </ul>
    </div>
  <% end -%>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'span6' %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description, class: 'span6' %>
  </div>
  <%= link_to 'cancel', user_tasks_path(@task.user), class: 'btn' %>
  <%= f.submit 'Update Task', class: 'btn btn-primary'%>
<% end -%>

