<h1><%= @user.full_name %> Tasks</h1>

<%= content_tag(:p, notice, id: 'notice', class: 'alert alert-success') if notice %>
<%= content_tag(:p, flash[:error], id: 'error', class: 'alert alert-error') if flash[:error] %>

<%= form_tag user_tasks_path(@user), id: "new_task", class: 'form-inline' do %>
  <%= text_field :task, :title, class: 'input-xlarge' %>
  <%= submit_tag "Create Task", class: 'btn btn-inverse' %>
<% end -%>
<div id="user_tasks">
  <ul class="unstyled">
    <%= render @user.tasks %>
  </ul>
</div>
