<%= form_for user do |f| %>
  <% if user.errors.any? -%>
    <div class="alert alert-error">
      <h2><%= pluralize(user.errors.size, 'error') %></h2>
      <ul>
        <% user.errors.full_messages.each do |msg| -%>
          <li><%= msg %></li>
        <% end -%>
      </ul>
    </div>
  <% end -%>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :surname %>
    <%= f.text_field :surname %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end -%>
<%= link_to 'Cancel', users_path, class: 'btn' %>
