<%= content_tag_for :li, user do %>
  <%= user.full_name %>
  <div>
    <%= link_to 'tasks', user_tasks_path(user), class: 'btn btn-info btn-mini' %>
    <%= link_to 'edit', edit_user_path(user), class: 'btn btn-mini' %>
    <%= link_to 'delete', user, method: :delete, class: 'btn btn-danger btn-mini' %>
  </div>
<% end -%>
