<h1>Users List</h1>
<%= content_tag(:p, notice, id: 'notice', class: 'alert alert-success') if notice %>
<div id="users">
  <ul class="unstyled">
    <%= render @users %>
  </ul>
</div>
<%= link_to 'new user', new_user_path, id: 'new_user', class: 'btn btn-primary' %>
